@font-face {
    font-family: 'Redaction 35';
    src: url('Redaction35-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Redaction Regular';
    src: url('Redaction-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}